<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Danh sách sản phẩm</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<th:block th:include="template.html"></th:block>
<div class="banner">
	<img id="d-image" src="/banner.jpg" alt="Hình nền">
</div>
    <div id="ft" class="filter">
       	<form action="/list" method="get">
        	<input type="hidden" name="item" th:value="${item}" />
        	<input type="hidden" name="category" th:value="${category}"/>
        	<input type="hidden" name="sale" th:value="${sale}" />
        	<input type="hidden" name="username" th:value="${username}"/>
            <label for="sortPrice">Sắp xếp theo giá:</label>
            <select id="sortPrice" name="sort">
                <option value="">Chọn</option>
                <option value="asc">Từ thấp tới cao</option>
                <option value="desc">Từ cao tới thấp</option>
            </select>
            <button type="submit">Sắp xếp</button>
        </form>
    </div>
	<div class="container">
	  	<h1 class="text-center">Danh mục sản phẩm</h1>
	  	<div class="row">
	    	<div th:each="product : ${products}" class="col-md-3 mb-4">
	      		<div class="card">
	        		<img th:src="${product.url}" alt="Product Image">
	        		<div class="card-body">
			        	<h5 th:text="${product.category} + ' ' +${product.name}"></h5>
			        	<p th:text="'Giá: ' + ${product.price} + ' VNĐ'"></p>
	        		</div>
	        		<div class="card-footer">
                    	<form action="/addcart" method="get">
                    		<input type="hidden" name="username" th:value="${username}"/>
                      	  	<input type="hidden" name="productCartId" th:value="${product.id}" />
                     	   	<button type="submit" class="btn btn-primary btn-block">Buy</button>
                    	</form>
                	</div>
					<div class="card-footer">
					    <form action="/edit" method="get">
					    	<input type="hidden" name="username" th:value="${username}"/>
                      	  	<input type="hidden" name="productEditId" th:value="${product.id}" />
                     	   	<button type="submit" class="btn btn-primary btn-block">Sửa</button>
                    	</form>
					</div>
					<div class="card-footer">
					    <form action="/delete" method="get">
					    	<input type="hidden" name="username" th:value="${username}"/>
                      	  	<input type="hidden" name="productDeleteId" th:value="${product.id}" />
                     	   	<button type="submit" class="btn btn-primary btn-block">Xóa</button>
                    	</form>
					</div>
	      		</div>
	    	</div>
	  	</div>
	</div>

  	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
